@{
    ViewData["Title"] = "Home Page";
}

<body class="bg-black">
@*    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class=    "display-4 fw-normal">Punny headline</h1>
      <p class="lead fw-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>
      <a class="btn btn-outline-secondary" href="#">Coming soon</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">Another headline</h2>
                <p class="lead">And an even wittier subheading.</p>
            </div>
            <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
        <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">Another headline</h2>
                <p class="lead">And an even wittier subheading.</p>
            </div>
            <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
    </div>
*@


 @* /////////*@
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <img src="https://media.discordapp.net/attachments/751067738801438770/1165565207410651166/facebook_1670355494539_7005978732169358351-1024x571.png?ex=65475030&is=6534db30&hm=765daa4e7ff7b58255becd89a042e0d4310d3e26869c41f1ead6e1fba08d7f7c&=" style="width:100%">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 fw-normal">Welkom bij Cafetaria de Kaan</h1>
            <p class="lead fw-normal">Je kunt je bestellingen plaatsen via onze website.</p>
            <a class="btn btn-outline-secondary" asp-area="" asp-controller="Bestel" asp-action="Index">Bestellen</a>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>







@* /////////////*@
    <div class="mySlides w3-display-container w3-center" style=" margin:0 ">
        <img src="https://media.discordapp.net/attachments/751067738801438770/1165565207410651166/facebook_1670355494539_7005978732169358351-1024x571.png?ex=65475030&is=6534db30&hm=765daa4e7ff7b58255becd89a042e0d4310d3e26869c41f1ead6e1fba08d7f7c&=" style="width:100%">
        <div class="overlay-text" style="color: white;">
@*            <h3>Welkom bij de website van Cafetaria de kaan</h3>
            <p> Je kunt je bestellingen plaatsen via onze website.</p>*@
        </div>
    </div>
    <div class="mySlides w3-display-container w3-center">
        <img src="https://media.discordapp.net/attachments/751067738801438770/1165565096794280006/1945-Bamischijf-extra-pittig-130-GR-e1612457717640.png?ex=65475016&is=6534db16&hm=7b0b7999ca6e9a42b90c66daddc1f7805277549950af8bcbbcc80afe536145f9&=" style="width:100%">
        <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small" style="color: white;">
@*            <h3>Bamischijf actie!!</h3>
            <p><b>De bamischijf is deze week in de aanbieding met 30%!</b></p>*@
        </div>
    </div>
    <div class="mySlides w3-display-container w3-center">
        <img src="https://media.discordapp.net/attachments/751067738801438770/1165701641471795330/cafetaria.png?ex=6547cf41&is=65355a41&hm=8910bb39c264ae63c6771148d7697516c5231682634ab4859c7e2aef8dae8d63&=&width=1137&height=676" style="width:100%">
        <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small" style="color: white;">
        </div>
    </div>
    <div class="mySlides w3-display-container w3-center">
        <img src="https://media.discordapp.net/attachments/751067738801438770/1165701738712531064/ALB101020-37_-scaled.png?ex=6547cf58&is=65355a58&hm=14942bd10ea7bc03d4d7cb18c27e619913dba94508e662dabdf320f4ea2bb431&=&width=1171&height=676" style="width:100%">
        <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small" style="color: white;">
        </div>
    </div>
    <div class="w3-container" style="color: white;">
        <h2> <strong>Hierboven vindt je verschillende foto's van de cafetaria en producten</strong></h2>
    </div>
    <div class="w3-container" style="color: white;">
        <h3> <strong>Algemeen Contact</strong></h3>
        <p><strong>E-mail:</strong> contact@gmail.com</p>
        <p><strong>Telefoon:</strong> 01 23456789</p>
    </div>
@*    <h2>Example body text</h2>
    <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
    <p><small>This line of text is meant to be treated as fine print.</small></p>
    <p>The following is <strong>rendered as bold text</strong>.</p>
    <p>The following is <em>rendered as italicized text</em>.</p>
    <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>*@
    <script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 6000);
        }
    </script>
</body>

